---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: letsencrypt-prod
  namespace: devstats-prod
spec:
  acme:
    email: YOUR_EMAIL_HERE
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-prod-account-key
    solvers:
    - http01:
        ingress:
          class: nginx-prod
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: letsencrypt-test
  namespace: devstats-test
spec:
  acme:
    email: YOUR_EMAIL_HERE
    # server: https://acme-staging-v02.api.letsencrypt.org/directory
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-test-account-key
    solvers:
    - http01:
        ingress:
          class: nginx-test
