apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    address-pools:
    - name: test
      protocol: layer2
      addresses:
      - X.Y.Z.V/32
    - name: prod
      protocol: layer2
      addresses:
      - X.Y.Z.V/32
