{{- $skipIngress := .Values.skipIngress -}}
{{- if not $skipIngress -}}

{{- $root := . -}}

{{- $hasIngress2Rules := dict "v" false -}}
{{- $hasIngress3Rules := dict "v" false -}}

{{- range $jndex, $_ := .Values.domains -}}
  {{- $dom := .name -}}
  {{- if and (or (eq ($jndex|int) ($root.Values.indexDomainsFrom|int)) (gt ($jndex|int) ($root.Values.indexDomainsFrom|int))) (lt ($jndex|int) ($root.Values.indexDomainsTo|int)) -}}
    {{- range $index, $_ := $root.Values.projects -}}
      {{- if and (or (eq ($index|int) ($root.Values.indexIngressesFrom|int)) (gt ($index|int) ($root.Values.indexIngressesFrom|int))) (lt ($index|int) ($root.Values.indexIngressesTo|int)) -}}

        {{- if and (eq (.certNum|int) 2) (or (eq ($jndex|int) 0) (not .archived)) -}}
          {{- if gt ((index .domains $jndex)|int) 0 -}}
            {{- $_ := set $hasIngress2Rules "v" true -}}
          {{- end -}}
          {{- if not $root.Values.skipAliases -}}
            {{- range $_, $alias := .aliases -}}
              {{- $_ := set $hasIngress2Rules "v" true -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}

        {{- if and (eq (.certNum|int) 3) (or (eq ($jndex|int) 0) (not .archived)) -}}
          {{- if gt ((index .domains $jndex)|int) 0 -}}
            {{- $_ := set $hasIngress3Rules "v" true -}}
          {{- end -}}
          {{- if not $root.Values.skipAliases -}}
            {{- range $_, $alias := .aliases -}}
              {{- $_ := set $hasIngress3Rules "v" true -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}

      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: '{{ .Values.namespace }}'
  name: devstats-ingress-1
  labels:
    name: devstats
    type: ingress
  annotations:
    #kubernetes.io/ingress.class: '{{ .Values.ingressClass }}'
    acme.cert-manager.io/http01-ingress-class: '{{ .Values.ingressClass }}'
    cert-manager.io/issuer: 'letsencrypt-{{ .Values.sslEnv }}'
spec:
  ingressClassName: '{{ .Values.ingressClass }}'
  tls:
  - hosts:
{{ range $jndex, $_ := .Values.domains }}
{{ if and (or (eq ($jndex|int) ($root.Values.indexDomainsFrom|int)) (gt ($jndex|int) ($root.Values.indexDomainsFrom|int))) (lt ($jndex|int) ($root.Values.indexDomainsTo|int)) }}
    - {{ .name }}
{{ end }}
{{ end }}
{{ range $jndex, $_ := .Values.domains }}
{{- $dom := .name -}}
{{ if and (or (eq ($jndex|int) ($root.Values.indexDomainsFrom|int)) (gt ($jndex|int) ($root.Values.indexDomainsFrom|int))) (lt ($jndex|int) ($root.Values.indexDomainsTo|int)) }}
{{ range $index, $_ := $root.Values.projects }}
{{ if and (or (eq ($index|int) ($root.Values.indexIngressesFrom|int)) (gt ($index|int) ($root.Values.indexIngressesFrom|int))) (lt ($index|int) ($root.Values.indexIngressesTo|int)) }}
{{ if and (eq (.certNum|int) 1) (or (eq ($jndex|int) 0) (not .archived)) }}
{{ if gt ((index .domains $jndex)|int) 0 }}
    - {{ .url }}.{{ $dom }}
{{ end }}
{{ if not $root.Values.skipAliases }}
{{ range $_, $alias := .aliases }}
    - {{ $alias }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
    secretName: devstats-tls-1
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: devstats-static-service-default
            port:
              number: 80
{{ range $jndex, $_ := .Values.domains }}
{{ if and (or (eq ($jndex|int) ($root.Values.indexDomainsFrom|int)) (gt ($jndex|int) ($root.Values.indexDomainsFrom|int))) (lt ($jndex|int) ($root.Values.indexDomainsTo|int)) }}
{{ if not $root.Values.skipAPIIngress }}
  - host: {{ .name }}
    http:
      paths:
      - path: '{{ $root.Values.apiPath }}'
        pathType: Prefix
        backend:
          service:
            name: '{{ $root.Values.apiServiceName }}'
            port:
              number: 80
{{ end }}
  - host: {{ .name }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: devstats-static-service-{{ .shortname }}
            port:
              number: 80
{{ end }}
{{ end }}
{{ range $jndex, $_ := .Values.domains }}
{{- $dom := .name -}}
{{ if and (or (eq ($jndex|int) ($root.Values.indexDomainsFrom|int)) (gt ($jndex|int) ($root.Values.indexDomainsFrom|int))) (lt ($jndex|int) ($root.Values.indexDomainsTo|int)) }}
{{ range $index, $_ := $root.Values.projects }}
{{ if and (or (eq ($index|int) ($root.Values.indexIngressesFrom|int)) (gt ($index|int) ($root.Values.indexIngressesFrom|int))) (lt ($index|int) ($root.Values.indexIngressesTo|int)) }}
{{ if and (eq (.certNum|int) 1) (or (eq ($jndex|int) 0) (not .archived)) }}
{{ if gt ((index .domains $jndex)|int) 0 }}
  - host: {{ .url }}.{{ $dom }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: devstats-service-{{ .proj }}
            port:
              number: 80
{{ end }}
{{ if not $root.Values.skipAliases }}
{{- $proj := .proj -}}
{{ range $_, $alias := .aliases }}
  - host: {{ $alias }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: devstats-service-{{ $proj }}
            port:
              number: 80
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}

{{- if $hasIngress2Rules.v }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: '{{ .Values.namespace }}'
  name: devstats-ingress-2
  labels:
    name: devstats
    type: ingress
  annotations:
    #kubernetes.io/ingress.class: '{{ .Values.ingressClass }}'
    acme.cert-manager.io/http01-ingress-class: '{{ .Values.ingressClass }}'
    cert-manager.io/issuer: 'letsencrypt-{{ .Values.sslEnv }}'
spec:
  ingressClassName: '{{ .Values.ingressClass }}'
  tls:
  - hosts:
{{ range $jndex, $_ := .Values.domains }}
{{- $dom := .name -}}
{{ if and (or (eq ($jndex|int) ($root.Values.indexDomainsFrom|int)) (gt ($jndex|int) ($root.Values.indexDomainsFrom|int))) (lt ($jndex|int) ($root.Values.indexDomainsTo|int)) }}
{{ range $index, $_ := $root.Values.projects }}
{{ if and (or (eq ($index|int) ($root.Values.indexIngressesFrom|int)) (gt ($index|int) ($root.Values.indexIngressesFrom|int))) (lt ($index|int) ($root.Values.indexIngressesTo|int)) }}
{{ if and (eq (.certNum|int) 2) (or (eq ($jndex|int) 0) (not .archived)) }}
{{ if gt ((index .domains $jndex)|int) 0 }}
    - {{ .url }}.{{ $dom }}
{{ end }}
{{ if not $root.Values.skipAliases }}
{{ range $_, $alias := .aliases }}
    - {{ $alias }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
    secretName: devstats-tls-2
  rules:
{{ range $jndex, $_ := .Values.domains }}
{{- $dom := .name -}}
{{ if and (or (eq ($jndex|int) ($root.Values.indexDomainsFrom|int)) (gt ($jndex|int) ($root.Values.indexDomainsFrom|int))) (lt ($jndex|int) ($root.Values.indexDomainsTo|int)) }}
{{ range $index, $_ := $root.Values.projects }}
{{ if and (or (eq ($index|int) ($root.Values.indexIngressesFrom|int)) (gt ($index|int) ($root.Values.indexIngressesFrom|int))) (lt ($index|int) ($root.Values.indexIngressesTo|int)) }}
{{ if and (eq (.certNum|int) 2) (or (eq ($jndex|int) 0) (not .archived)) }}
{{ if gt ((index .domains $jndex)|int) 0 }}
  - host: {{ .url }}.{{ $dom }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: devstats-service-{{ .proj }}
            port:
              number: 80
{{ end }}
{{ if not $root.Values.skipAliases }}
{{- $proj := .proj -}}
{{ range $_, $alias := .aliases }}
  - host: {{ $alias }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: devstats-service-{{ $proj }}
            port:
              number: 80
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{- end }}

{{- if $hasIngress3Rules.v }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: '{{ .Values.namespace }}'
  name: devstats-ingress-3
  labels:
    name: devstats
    type: ingress
  annotations:
    #kubernetes.io/ingress.class: '{{ .Values.ingressClass }}'
    acme.cert-manager.io/http01-ingress-class: '{{ .Values.ingressClass }}'
    cert-manager.io/issuer: 'letsencrypt-{{ .Values.sslEnv }}'
spec:
  ingressClassName: '{{ .Values.ingressClass }}'
  tls:
  - hosts:
{{ range $jndex, $_ := .Values.domains }}
{{- $dom := .name -}}
{{ if and (or (eq ($jndex|int) ($root.Values.indexDomainsFrom|int)) (gt ($jndex|int) ($root.Values.indexDomainsFrom|int))) (lt ($jndex|int) ($root.Values.indexDomainsTo|int)) }}
{{ range $index, $_ := $root.Values.projects }}
{{ if and (or (eq ($index|int) ($root.Values.indexIngressesFrom|int)) (gt ($index|int) ($root.Values.indexIngressesFrom|int))) (lt ($index|int) ($root.Values.indexIngressesTo|int)) }}
{{ if and (eq (.certNum|int) 3) (or (eq ($jndex|int) 0) (not .archived)) }}
{{ if gt ((index .domains $jndex)|int) 0 }}
    - {{ .url }}.{{ $dom }}
{{ end }}
{{ if not $root.Values.skipAliases }}
{{ range $_, $alias := .aliases }}
    - {{ $alias }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
    secretName: devstats-tls-3
  rules:
{{ range $jndex, $_ := .Values.domains }}
{{- $dom := .name -}}
{{ if and (or (eq ($jndex|int) ($root.Values.indexDomainsFrom|int)) (gt ($jndex|int) ($root.Values.indexDomainsFrom|int))) (lt ($jndex|int) ($root.Values.indexDomainsTo|int)) }}
{{ range $index, $_ := $root.Values.projects }}
{{ if and (or (eq ($index|int) ($root.Values.indexIngressesFrom|int)) (gt ($index|int) ($root.Values.indexIngressesFrom|int))) (lt ($index|int) ($root.Values.indexIngressesTo|int)) }}
{{ if and (eq (.certNum|int) 3) (or (eq ($jndex|int) 0) (not .archived)) }}
{{ if gt ((index .domains $jndex)|int) 0 }}
  - host: {{ .url }}.{{ $dom }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: devstats-service-{{ .proj }}
            port:
              number: 80
{{ end }}
{{ if not $root.Values.skipAliases }}
{{- $proj := .proj -}}
{{ range $_, $alias := .aliases }}
  - host: {{ $alias }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: devstats-service-{{ $proj }}
            port:
              number: 80
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{- end }}

{{- end -}}

